<div class="row" id="profil">
  <div class="col-lg-6" id="info">
    <h3>Information</h3>
    <div class="row">
      <div class="form-group">
        <label class="control-label col-lg-5" for="name">Nom</label>
        <div class="col-lg-4">
          <input class="form-control" type="text" id="name">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-5" for="firstname">Prénom</label>
        <div class="col-lg-4">
          <input class="form-control" type="text" id="firstname">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-5" for="pseudo">Pseudo</label>
        <div class="col-lg-4">
          <input class="form-control" type="text" id="pseudo">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-5" for="mail">Adresse Mail</label>
        <div class="col-lg-4">
          <input class="form-control" type="text" id="mail">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-5" for="score">Score Actuel</label>
        <div class="col-lg-4">
          <input class="form-control" type="text" id="score">
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <h3>Modification</h3>
    <div id="modif">
      <div class="row">
        <div>
          <input class="form-control" type="text" placeholder="Nouveau pseudo...">
        </div>
      </div> <br>

      <div class="row">
        <div>
          <input class="form-control" type="text" placeholder="Nouveau mail...">
        </div>
      </div> <br>

      <div class="row">
        <div>
          <input class="form-control" type="text" placeholder="Mot de passe actuel...">
        </div>
      </div> <br>

      <div class="row">
        <div>
          <input class="form-control" type="text" placeholder="Nouveau mot de passe">
        </div>
      </div> <br>

      <div class="row">
        <div>
          <input class="form-control" type="text" placeholder="Confirmer votre mot de passe">
        </div>
      </div> <br>

      <button class="btn btn-success">Modifier</button>
    </div>

  </div>
</div>

<hr>

<div class="row">
  <table class="table">
    <tr>
      <thead>
        <th>N° de Commpétition</th>
        <th>Nom Compétition</th>
        <th>Catégorie</th>
        <th>Rang</th>
        <th>Score</th>
      </thead>
    </tr>

    <tr>
      <tbody>
        <tr *ngFor="let value of historique">
          <td>{{ value }}</td>
        </tr>
      </tbody>
    </tr>
  </table>
</div>