.facebook {
    background: #3B5998;
    color: white;
  }
  
.twitter {
    background: #55ACEE;
    color: white;
  }

  .google {
    background: #dd4b39;
    color: white;
  }
    
.pinterest {
    background: #cb2027;
    color: white;
}

#inscription {
  margin-left: 10%;
}
#connection {
  margin-left: auto;
  margin-right: 10%;
}

#hr {
  border-left: 3px solid #00cb54;
  height: 85%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: auto;
}